@font-face {
    font-family: "nexa-light";
    src: url("../../assets/Nexa-Light.otf"); 
}
  @font-face {
    font-family: "nexa-bold";
    src: url("../../assets/Nexa-Bold.otf"); 
}
nav{
  display:flex;
  justify-content: space-between;
  width:100%;
  height: 60px;
  background-color: white;
  border:5px solid #ebebeb;;
  margin-top: 10px;
}
.container1{
    background-color: #aec2ea;
    border:5px solid #ebebeb;;
   align-self: center;
}
img{
    width:150px;
    height:50px
}
.container1 h1{
    text-align: center;
}
.container1 p{
    text-align: center; 
}
.box1{
    border-radius: 20px;
    background: white;
    width:70%;
    border:2px solid #76b39d;
    margin: 10px;
    border:5px solid #ebebeb;;
}
.form{
    margin:0;
}
input{
    border:none;
    width:80%;
    margin:10px 5px 10px 0px;
    outline:none;
    font-size: 20px;
}
.box1 button{
    background: transparent;
    border: none;
}
.button{
    margin-left:40%;
    background-color:black;
    width:12rem;
    height:3rem;
    color:white;
    font-size:15px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 10px;
}
.container2{
   align-self: center;
}
.container2 h2{
  text-align: center;
}
.container2 p{
    text-align: center;
  }